Checkout.png
Desktop_folder.png
Download_GIT.png
git_add+git_commit.png
GIT_BASH_terminal.png
git_init.png
git_log.png
Icon_GIT_BASH.png
branch_1.png
switch_to_master.png
conflict_1.png
conflict_2.png
correct_merging.png
